﻿fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1.5px solid #3c8dbc;
}

legend {
    width: auto;
    border-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.action-btn {
    text-align: center;
}
