﻿<fieldset [formGroup]="categoryDetailForm">
    <legend>{{legendTagTitle}}</legend>
    <div class="form-horizontal">
        <div class="col-sm-6">
            <div class="form-group ">
                <label class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Name" formControlName="Name">
                    <validation-message [control]="nameCtrl"></validation-message>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">Description</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Description" formControlName="Description">
                    <validation-message [control]="descriptionCtrl"></validation-message>
                </div>
            </div>
        </div>

        <div class="row"></div>

        <div class="col-sm-4"></div>
        <div class="col-sm-4 action-btn">
            <button class="btn btn-primary" (click)="saveBtnClick()">Save</button>
            <button class="btn btn-warning" (click)="resetBtnClick()">Reset</button>
            <button class="btn btn-danger" (click)="cancelBtnClick()" *ngIf="isShowCancelBtn">Cancel</button>
        </div>
        <div class="col-sm-4"></div>
    </div>
</fieldset>