<div class="wrapper">
    <!-- Main Header -->
    <header class="main-header" *ngIf="isLoggedIn && isHavePermission">
        <!-- Logo -->
        <a routerLink="/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>PM</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>PM</b> Admin</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript:void(0)" (click)="signOut()" data-toggle="control-sidebar">
                            <i class="fa fa-sign-out"> Sign out</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar" *ngIf="isLoggedIn && isHavePermission">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <admin-navigation></admin-navigation>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div [class]="isLoggedIn && isHavePermission ? 'content-wrapper' : 'content-wrapper height-fill-available margin-left-0 '">
        <router-outlet></router-outlet>
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer" *ngIf="isLoggedIn && isHavePermission">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2017 <a>HQC</a>.</strong> All rights reserved.
    </footer>
</div>