﻿<table id="{{inputDtSetting.tableId}}" class="table table-striped table-bordered table-hover dataTable" style="width: 100%;">
    <ngx-loading [show]="loading" [config]="ngxLoadingConfig"></ngx-loading>
</table>