﻿@model LoggedOutViewModel

@{ 
    // set this so UI rendering sees an anonymous user
    Context.User = new System.Security.Claims.ClaimsPrincipal(new System.Security.Claims.ClaimsIdentity());
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Log out</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/font-awesome.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/AdminLTE.min.css" />
    <!-- awesome-bootstrap-checkbox -->
    <link rel="stylesheet" href="~/lib/awesome-bootstrap-checkbox.css" />
</head>
<body class="hold-transition login-page" style="overflow-y: hidden;">
    <div class="register-box" style="width: 450px;">
        <div class="register-logo">
            <a href="~/"><b>Identity </b>Server</a>
        </div>

        <div style="text-align: center;">
            <div>You are now logged out</div>
            @if (Model.PostLogoutRedirectUri != null)
            {
                <div>
                    If you are not redirected shortly, click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to the application.
                </div>
            }
            @if (Model.SignOutIframeUrl != null)
            {
                <iframe hidden width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
            }
        </div>
    </div>
    <!-- /.register-box -->
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
</body>
</html>