﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Identity Server | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/font-awesome.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/AdminLTE.min.css" />
    <!-- awesome-bootstrap-checkbox -->
    <link rel="stylesheet" href="~/lib/awesome-bootstrap-checkbox.css" />
</head>
<body class="hold-transition login-page" style="overflow-y: hidden;">
    <div class="login-box">
        <div class="login-logo">
            <a href="~/"><b>Identity </b>Server</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl" method="post">
                <div class="form-group has-feedback">
                    <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <div class="abc-checkbox abc-checkbox-primary" style="margin-top: 5px;">
                            <input asp-for="RememberLogin" type="checkbox" />
                            <label asp-for="RememberLogin" style="font-weight: normal; padding-top: 3px;">
                                @Html.DisplayNameFor(m => m.RememberLogin)
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            @*<a asp-action="ForgotPassword">Forgot your password?</a><br>*@
            <a asp-action="Register" asp-route-returnurl="@Model.ReturnUrl">Register as a new user?</a>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->

    @{
        @*var loginProviders = Model.ExternalProviders.ToArray();
            if (loginProviders.Length > 0)
            {
                <div class="col-md-4">
                    <section>
                        <h4>Use another service to log in.</h4>
                        <hr />
                        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                    }
                                </p>
                            </div>
                        </form>

                    </section>
                </div>
            }*@
    }

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
</body>
</html>