﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Identity Server | Register</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/font-awesome.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/AdminLTE.min.css" />
    <!-- awesome-bootstrap-checkbox -->
    <link rel="stylesheet" href="~/lib/awesome-bootstrap-checkbox.css" />
</head>
<body class="hold-transition login-page" style="overflow-y: hidden;">
    <div class="register-box">
        <div class="register-logo">
            <a href="~/"><b>Identity </b>Server</a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">Register a new membership</p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div class="form-group has-feedback">
                    <input asp-for="Email" type="email" class="form-control" placeholder="Email"/>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password"/>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Retype password"/>
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8"></div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <a asp-action="Login" class="text-center">I already have a membership</a>
        </div>
    </div>
    <!-- /.register-box -->
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
</body>
</html>
