﻿<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>

    <ng-template ngFor let-item [ngForOf]="navigationItems" let-i="index">
        <li class="treeview" routerLinkActive="active">
            <a href="{{item.routeLink}}">
                <i class="fa fa-image"></i> <span>{{item.name}}</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right" [ngStyle]="{'transform': item.openByDefault ? '' : 'inherit'}"></i>
                </span>
            </a>
            <ul class="treeview-menu" [class.menu-open]="item.openByDefault" [ngStyle]="{'display': item.openByDefault ? 'block' : 'none'}">
                <ng-template ngFor let-childItem [ngForOf]="item.childItems" let-i="index">
                    <li routerLinkActive="active"><a routerLink="{{childItem.routeLink}}"><i class="fa {{childItem.icon}}"></i>{{childItem.name}}</a></li>
                </ng-template>
            </ul>
        </li>
    </ng-template>
</ul>