<section class="content">
    <div class="error-page">
        <h2 class="headline text-yellow" style="margin-top: -25px;">403</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Unauthorized </h3>
            <p>
                You dont have permission to access this page.
                Click here to <a href="javascript:void(0)" (click)="signOut()">login as other user.</a>
            </p>
        </div>
    </div>
</section>