﻿<section class="content-header">
    <br />
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i>Product Management</a></li>
        <li><a>Category</a></li>
    </ol>
</section>

<section class="content">
    <div class="box box-solid box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">Categories</h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="box-body">
            <button class="btn btn-success" (click)="addBtnClick()">Add</button>
            <button class="btn btn-danger" (click)="deleteBtnClick()" [disabled]="isDisabledDeleteBtn">Delete</button>
            <datatables [dataTablesSetting]="categoryTableSetting" #categoryTable></datatables>

            <admin-category-detail *ngIf="isShowCategoryDetail"
                                   [actionEvent]="actionEvent">
            </admin-category-detail>
        </div>
    </div>
</section>
